#wrapper {
    max-width: 480px;
    margin: auto;
}
#description, #search, #todo-list {
    font-size: 1.5em;
}

body {
    background-color: rgb(191, 191, 191)
}

.toDoItem {
    font-weight: bold;
}

.doneItem {
    text-decoration: line-through;
}
